<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link data-th-href="@{'/css/output.css'}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
    <title>Document</title>
    
</head>
<body>
    <div class="bg-gray-200 p-5 mx-auto w-1/2 mt-4">
        <h1 class="text-2xl font-bold" data-th-text="${name}">Welcome to Home page</h1>
        <p>Youtub : <span data-th-text="${youtube}"></span></p>

        <a th:href="${google}" target="_blank">Click here to open google</a>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Quia rem laboriosam culpa neque quo, qui esse tempora officiis ad? Qui 
         numquam aut voluptatem dolorem ex maiores! Quisquam explicabo laboriosam,
          sunt iusto in reprehenderit vero qui cumque harum ratione odit, temporibus 
          unde beatae distinctio eius possimus? Quibusdam minima ullam repudiandae quisquam!</p>
          
    </div>


    


   
</body>
</html>