<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{::title})}">

<head>
    <title>Register Page</title>
</head>

<body>
    <div id="content" class="mt-20">

        <div class="grid grid-cols-12">
            <div class="col-span-4 sm:col-span-8 md:col-span-2 lg:col-span-4"></div>

            <div class="col-span-12 sm:col-span-8 md:col-span-4 lg:col-span-4">
                <div
                    class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

                    <!-- --------------------message box------------------------------ -->
                    <div data-th-replace="message:: messagebox"></div>

                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Sign-Up Here </h5>
                    <p class="font-normal text-gray-400 dark:text-gray-400">Start Managing contacts on cloud.</p>

                    <form data-th-action="@{'/registerForm'}" th:object="${userForm}" method="post" class="mt-4"
                        novalidate>
                        <!-- -----------------------name---------------- -->
                        <div class="mb-3">
                            <label for="name"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                            <input type="text" id="name" th:field="*{name}"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Enter Your Name" required />
                            <p data-th-if="${#fields.hasErrors('name')}" data-th-errors="*{name}"
                                class="text-red-600 text-sm px-1">Name is required</p>
                        </div>
                        <!-- ------------Email----------- -->
                        <div class="mb-3">
                            <label for="email"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                            <input type="email" id="email" th:field="*{email}"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="name@flowbite.com" required />
                                <p data-th-if="${#fields.hasErrors('email')}" data-th-errors="*{email}"
                                class="text-red-600 text-sm px-1">email is required</p>
                        </div>
                        <!-- ----------------------password------------------- -->
                        <div class="mb-3">
                            <label for="password"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                            <input type="password" id="password" th:field="*{password}"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="*********" required />
                            <p data-th-if="${#fields.hasErrors('password')}"
                             data-th-errors="*{password}"
                            class="text-red-600 text-sm px-1">Password is required</p>
                        </div>
                        <!-- ----------------------phone number------------------- -->
                        <div class="mb-3">
                            <label for="phoneNumber"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone
                                Number</label>
                            <input type="phone" id="phoneNumber" th:field="*{phoneNumber}"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder=" Enter phone number" required />

                                <p 
                                data-th-if="${#fields.hasErrors('phoneNumber')}"
                                data-th-errors="*{phoneNumber}"
                                 class="text-red-600 text-sm px-1">phoneNumber is required</p>
                        </div>
                        <!-- ----------------------------about----------------- -->

                        <div class="mb-3">
                            <label for="about"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">write something
                                about yourself</label>
                            <textarea id="about" rows="3" th:field="*{about}"
                                class="block p-1.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Write here..."></textarea>

                                <p 
                                data-th-if="${#fields.hasErrors('about')}"
                                data-th-errors="*{about}"
                                 class="text-red-600 text-sm px-1">about is required</p>
                        </div>
                        <!-- ----------------buttons---------------- -->
                        <div class="mb-3 flex justify-center gap-2">
                            <button type="submit"
                                class="px-4 py-2 bg-green-600 hover:bg-green-900 rounded text-white dark:bg-blue-600 dark:hover:bg-blue-900">Sign
                                Up</button>
                            <button type="reset"
                                class="px-4 py-2 bg-blue-600 hover:bg-blue-900 rounded text-white dark:bg-green-600 dark:hover:bg-green-900">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>
</body>

</html>